@font-face{font-family:icons;font-weight:400;font-style:normal;font-display:block;src:url(/fonts/telegram-icons.woff2) format("woff2"), url(/fonts/telegram-icons.woff) format("woff")}
.icon {
  speak: none;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-family: icons !important;
  display: inline-block;
}
.icon-char:before{content:attr(data-char);text-align:center;width:1em;font-family:Roboto,Helvetica Neue,sans-serif;display:block}
.icon-placeholder:before{content:"";width:1em;display:block}
.icon-2fa-filled:before{content:""}
.icon-account-filled:before{content:""}
.icon-active-sessions:before{content:""}
.icon-add:before{content:""}
.icon-add-caption:before{content:""}
.icon-add-filled:before{content:""}
.icon-add-music:before{content:""}
.icon-add-one-badge:before{content:""}
.icon-add-user:before{content:""}
.icon-add-user-filled:before{content:""}
.icon-admin:before{content:""}
.icon-ai:before{content:""}
.icon-ai-edit:before{content:""}
.icon-ai-fix:before{content:""}
.icon-allow-share:before{content:""}
.icon-allow-speak:before{content:""}
.icon-animals:before{content:""}
.icon-animations:before{content:""}
.icon-animations-filled:before{content:""}
.icon-appearance-filled:before{content:""}
.icon-archive:before{content:""}
.icon-archive-filled:before{content:""}
.icon-archive-from-main:before{content:""}
.icon-archive-to-main:before{content:""}
.icon-arrow-down:before{content:""}
.icon-arrow-down-circle:before{content:""}
.icon-arrow-left:before{content:""}
.icon-arrow-right:before{content:""}
.icon-article:before{content:""}
.icon-ask-support:before{content:""}
.icon-attach:before{content:""}
.icon-auction:before{content:""}
.icon-auction-drop:before{content:""}
.icon-auction-filled:before{content:""}
.icon-auction-next-round:before{content:""}
.icon-author-hidden:before{content:""}
.icon-auto-delete-clock:before{content:""}
.icon-auto-delete-empty:before{content:""}
.icon-avatar-archived-chats:before{content:""}
.icon-avatar-deleted-account:before{content:""}
.icon-avatar-saved-messages:before{content:""}
.icon-bio-filled:before{content:""}
.icon-birthday-filled:before{content:""}
.icon-block-filled:before{content:""}
.icon-blockquote:before{content:""}
.icon-bold:before{content:""}
.icon-boost:before{content:""}
.icon-boost-craft-chance:before{content:""}
.icon-boost-outline:before{content:""}
.icon-boostcircle:before{content:""}
.icon-boosts:before{content:""}
.icon-bot-command:before{content:""}
.icon-bot-commands-filled:before{content:""}
.icon-bots:before{content:""}
.icon-brush:before{content:""}
.icon-bug:before{content:""}
.icon-bullet-list:before{content:""}
.icon-calendar:before{content:""}
.icon-calendar-filter:before{content:""}
.icon-camera:before{content:""}
.icon-camera-add:before{content:""}
.icon-car:before{content:""}
.icon-card:before{content:""}
.icon-cash-circle:before{content:""}
.icon-channel:before{content:""}
.icon-channel-filled:before{content:""}
.icon-channelviews:before{content:""}
.icon-chat-badge:before{content:""}
.icon-chats-badge:before{content:""}
.icon-check:before{content:""}
.icon-check-bold:before{content:""}
.icon-check-filled:before{content:""}
.icon-choice-selected:before{content:""}
.icon-clear:before{content:""}
.icon-clear-formatting:before{content:""}
.icon-clock:before{content:""}
.icon-clock-edit:before{content:""}
.icon-clock-filled:before{content:""}
.icon-close:before{content:""}
.icon-close-circle:before{content:""}
.icon-close-topic:before{content:""}
.icon-closed-gift:before{content:""}
.icon-cloud-download:before{content:""}
.icon-code:before{content:""}
.icon-collapse:before{content:""}
.icon-collapse-modal:before{content:""}
.icon-collapse-square:before{content:""}
.icon-colorize:before{content:""}
.icon-combine-craft:before{content:""}
.icon-comments:before{content:""}
.icon-comments-sticker:before{content:""}
.icon-copy:before{content:""}
.icon-copy-media:before{content:""}
.icon-craft:before{content:""}
.icon-crop:before{content:""}
.icon-crown-take-off:before{content:""}
.icon-crown-take-off-outline:before{content:""}
.icon-crown-wear:before{content:""}
.icon-crown-wear-outline:before{content:""}
.icon-darkmode:before{content:""}
.icon-data:before{content:""}
.icon-delete:before{content:""}
.icon-delete-filled:before{content:""}
.icon-delete-left:before{content:""}
.icon-delete-user:before{content:""}
.icon-details-block:before{content:""}
.icon-device-android:before{content:""}
.icon-device-apple:before{content:""}
.icon-device-linux:before{content:""}
.icon-device-ubuntu:before{content:""}
.icon-device-unknown:before{content:""}
.icon-device-weba:before{content:""}
.icon-device-webk:before{content:""}
.icon-device-windows:before{content:""}
.icon-devices-filled:before{content:""}
.icon-diamond:before{content:""}
.icon-direct:before{content:""}
.icon-document:before{content:""}
.icon-double-badge:before{content:""}
.icon-down:before{content:""}
.icon-download:before{content:""}
.icon-dropdown-arrows:before{content:""}
.icon-eats:before{content:""}
.icon-edit:before{content:""}
.icon-email:before{content:""}
.icon-enter:before{content:""}
.icon-expand:before{content:""}
.icon-expand-modal:before{content:""}
.icon-expand-square:before{content:""}
.icon-eye:before{content:""}
.icon-eye-crossed:before{content:""}
.icon-eye-crossed-outline:before{content:""}
.icon-eye-outline:before{content:""}
.icon-favorite:before{content:""}
.icon-favorite-filled:before{content:""}
.icon-file-badge:before{content:""}
.icon-flag:before{content:""}
.icon-flag-filled:before{content:""}
.icon-flip:before{content:""}
.icon-folder:before{content:""}
.icon-folder-badge:before{content:""}
.icon-folder-filled:before{content:""}
.icon-folder-tabs-bot:before{content:""}
.icon-folder-tabs-channel:before{content:""}
.icon-folder-tabs-chat:before{content:""}
.icon-folder-tabs-chats:before{content:""}
.icon-folder-tabs-folder:before{content:""}
.icon-folder-tabs-group:before{content:""}
.icon-folder-tabs-star:before{content:""}
.icon-folder-tabs-user:before{content:""}
.icon-fontsize:before{content:""}
.icon-footer:before{content:""}
.icon-formula:before{content:""}
.icon-forums:before{content:""}
.icon-forward:before{content:""}
.icon-fragment:before{content:""}
.icon-frozen-time:before{content:""}
.icon-fullscreen:before{content:""}
.icon-gifs:before{content:""}
.icon-gift:before{content:""}
.icon-gift-filled:before{content:""}
.icon-gift-transfer-inline:before{content:""}
.icon-gram-filled:before{content:""}
.icon-group:before{content:""}
.icon-group-filled:before{content:""}
.icon-grouped:before{content:""}
.icon-grouped-disable:before{content:""}
.icon-hand-stop:before{content:""}
.icon-hand-stop-filled:before{content:""}
.icon-hashtag:before{content:""}
.icon-hd-photo:before{content:""}
.icon-heading:before{content:""}
.icon-heading-1:before{content:""}
.icon-heading-2:before{content:""}
.icon-heading-3:before{content:""}
.icon-heading-4:before{content:""}
.icon-heading-5:before{content:""}
.icon-heading-6:before{content:""}
.icon-heart:before{content:""}
.icon-heart-outline:before{content:""}
.icon-help:before{content:""}
.icon-help-filled:before{content:""}
.icon-info:before{content:""}
.icon-info-filled:before{content:""}
.icon-install:before{content:""}
.icon-italic:before{content:""}
.icon-key:before{content:""}
.icon-key-filled:before{content:""}
.icon-keyboard:before{content:""}
.icon-lamp:before{content:""}
.icon-language:before{content:""}
.icon-large-pause:before{content:""}
.icon-large-play:before{content:""}
.icon-link:before{content:""}
.icon-link-badge:before{content:""}
.icon-link-broken:before{content:""}
.icon-list:before{content:""}
.icon-location:before{content:""}
.icon-location-filled:before{content:""}
.icon-lock:before{content:""}
.icon-lock-badge:before{content:""}
.icon-lock-filled:before{content:""}
.icon-logout:before{content:""}
.icon-loop:before{content:""}
.icon-mark:before{content:""}
.icon-megaphone-filled:before{content:""}
.icon-mention:before{content:""}
.icon-mention-filled:before{content:""}
.icon-menu:before{content:""}
.icon-message:before{content:""}
.icon-message-failed:before{content:""}
.icon-message-pending:before{content:""}
.icon-message-read:before{content:""}
.icon-message-succeeded:before{content:""}
.icon-microphone:before{content:""}
.icon-microphone-alt:before{content:""}
.icon-microphone-outline:before{content:""}
.icon-monospace:before{content:""}
.icon-more:before{content:""}
.icon-more-circle:before{content:""}
.icon-move-caption-down:before{content:""}
.icon-move-caption-up:before{content:""}
.icon-mute:before{content:""}
.icon-muted:before{content:""}
.icon-my-notes:before{content:""}
.icon-new-chat-filled:before{content:""}
.icon-new-send:before{content:""}
.icon-next:before{content:""}
.icon-next-link:before{content:""}
.icon-no-download:before{content:""}
.icon-no-share:before{content:""}
.icon-nochannel:before{content:""}
.icon-noise-suppression:before{content:""}
.icon-non-contacts:before{content:""}
.icon-note:before{content:""}
.icon-notifications-filled:before{content:""}
.icon-numbered-list:before{content:""}
.icon-one-filled:before{content:""}
.icon-open-in-new-tab:before{content:""}
.icon-password-off:before{content:""}
.icon-pause:before{content:""}
.icon-pause-circle:before{content:""}
.icon-permissions:before{content:""}
.icon-phone:before{content:""}
.icon-phone-discard:before{content:""}
.icon-phone-discard-outline:before{content:""}
.icon-phone-filled:before{content:""}
.icon-photo:before{content:""}
.icon-piechart-filled:before{content:""}
.icon-pin:before{content:""}
.icon-pin-badge:before{content:""}
.icon-pin-list:before{content:""}
.icon-pinned-chat:before{content:""}
.icon-pinned-message:before{content:""}
.icon-pip:before{content:""}
.icon-play:before{content:""}
.icon-play-story:before{content:""}
.icon-poll:before{content:""}
.icon-poll-badge:before{content:""}
.icon-premium-filled:before{content:""}
.icon-previous:before{content:""}
.icon-previous-link:before{content:""}
.icon-privacy-policy:before{content:""}
.icon-privacy-policy-filled:before{content:""}
.icon-profile-music:before{content:""}
.icon-proof-of-ownership:before{content:""}
.icon-pullquote:before{content:""}
.icon-quote:before{content:""}
.icon-quote-close:before{content:""}
.icon-quote-open:before{content:""}
.icon-quote-text:before{content:""}
.icon-radial-badge:before{content:""}
.icon-rating-icons-level1:before{content:""}
.icon-rating-icons-level10:before{content:""}
.icon-rating-icons-level2:before{content:""}
.icon-rating-icons-level20:before{content:""}
.icon-rating-icons-level3:before{content:""}
.icon-rating-icons-level30:before{content:""}
.icon-rating-icons-level4:before{content:""}
.icon-rating-icons-level40:before{content:""}
.icon-rating-icons-level5:before{content:""}
.icon-rating-icons-level50:before{content:""}
.icon-rating-icons-level6:before{content:""}
.icon-rating-icons-level60:before{content:""}
.icon-rating-icons-level7:before{content:""}
.icon-rating-icons-level70:before{content:""}
.icon-rating-icons-level8:before{content:""}
.icon-rating-icons-level80:before{content:""}
.icon-rating-icons-level9:before{content:""}
.icon-rating-icons-level90:before{content:""}
.icon-rating-icons-negative:before{content:""}
.icon-readchats:before{content:""}
.icon-recent:before{content:""}
.icon-record-dot:before{content:""}
.icon-record-play:before{content:""}
.icon-redo:before{content:""}
.icon-refund:before{content:""}
.icon-reload:before{content:""}
.icon-reload-arrows:before{content:""}
.icon-remove:before{content:""}
.icon-remove-music:before{content:""}
.icon-remove-quote:before{content:""}
.icon-reopen-topic:before{content:""}
.icon-reorder-tabs:before{content:""}
.icon-replace:before{content:""}
.icon-replace-round:before{content:""}
.icon-replies:before{content:""}
.icon-reply:before{content:""}
.icon-reply-filled:before{content:""}
.icon-revenue-split:before{content:""}
.icon-revote:before{content:""}
.icon-rotate:before{content:""}
.icon-round-video:before{content:""}
.icon-save-story:before{content:""}
.icon-saved-messages:before{content:""}
.icon-schedule:before{content:""}
.icon-scheduled:before{content:""}
.icon-sd-photo:before{content:""}
.icon-search:before{content:""}
.icon-select:before{content:""}
.icon-select-filled:before{content:""}
.icon-sell:before{content:""}
.icon-sell-outline:before{content:""}
.icon-send:before{content:""}
.icon-send-outline:before{content:""}
.icon-settings:before{content:""}
.icon-settings-filled:before{content:""}
.icon-share-filled:before{content:""}
.icon-share-screen:before{content:""}
.icon-share-screen-outlined:before{content:""}
.icon-share-screen-stop:before{content:""}
.icon-show-message:before{content:""}
.icon-sidebar:before{content:""}
.icon-skip-next:before{content:""}
.icon-skip-previous:before{content:""}
.icon-smallscreen:before{content:""}
.icon-smile:before{content:""}
.icon-smile-filled:before{content:""}
.icon-sort:before{content:""}
.icon-sort-by-date:before{content:""}
.icon-sort-by-number:before{content:""}
.icon-sort-by-price:before{content:""}
.icon-speaker:before{content:""}
.icon-speaker-muted-story:before{content:""}
.icon-speaker-outline:before{content:""}
.icon-speaker-story:before{content:""}
.icon-spoiler:before{content:""}
.icon-spoiler-disable:before{content:""}
.icon-spoiler-text:before{content:""}
.icon-sport:before{content:""}
.icon-star:before{content:""}
.icon-stars-filled:before{content:""}
.icon-stars-lock:before{content:""}
.icon-stars-refund:before{content:""}
.icon-stats:before{content:""}
.icon-stealth-future:before{content:""}
.icon-stealth-past:before{content:""}
.icon-stickers:before{content:""}
.icon-stop:before{content:""}
.icon-stop-raising-hand:before{content:""}
.icon-story-caption:before{content:""}
.icon-story-expired:before{content:""}
.icon-story-priority:before{content:""}
.icon-story-reply:before{content:""}
.icon-strikethrough:before{content:""}
.icon-subscript:before{content:""}
.icon-superscript:before{content:""}
.icon-support-filled:before{content:""}
.icon-table:before{content:""}
.icon-table-align-bottom:before{content:""}
.icon-table-align-center:before{content:""}
.icon-table-align-left:before{content:""}
.icon-table-align-middle:before{content:""}
.icon-table-align-right:before{content:""}
.icon-table-align-top:before{content:""}
.icon-table-delete:before{content:""}
.icon-table-fill:before{content:""}
.icon-table-insert-above:before{content:""}
.icon-table-insert-below:before{content:""}
.icon-table-insert-left:before{content:""}
.icon-table-insert-right:before{content:""}
.icon-table-merge-horizontal:before{content:""}
.icon-table-merge-vertical:before{content:""}
.icon-table-move-left:before{content:""}
.icon-table-move-right:before{content:""}
.icon-table-split-horizontal:before{content:""}
.icon-table-split-vertical:before{content:""}
.icon-tag:before{content:""}
.icon-tag-add:before{content:""}
.icon-tag-crossed:before{content:""}
.icon-tag-filter:before{content:""}
.icon-tag-name:before{content:""}
.icon-task-list:before{content:""}
.icon-timer:before{content:""}
.icon-timer-filled:before{content:""}
.icon-toncoin:before{content:""}
.icon-tone:before{content:""}
.icon-tools:before{content:""}
.icon-topic-new:before{content:""}
.icon-trade:before{content:""}
.icon-transcribe:before{content:""}
.icon-truck:before{content:""}
.icon-unarchive:before{content:""}
.icon-underlined:before{content:""}
.icon-understood:before{content:""}
.icon-undo:before{content:""}
.icon-unique-profile:before{content:""}
.icon-unlist:before{content:""}
.icon-unlist-outline:before{content:""}
.icon-unlock:before{content:""}
.icon-unlock-badge:before{content:""}
.icon-unmute:before{content:""}
.icon-unpin:before{content:""}
.icon-unread:before{content:""}
.icon-up:before{content:""}
.icon-user:before{content:""}
.icon-user-filled:before{content:""}
.icon-user-online:before{content:""}
.icon-user-stars:before{content:""}
.icon-user-tag:before{content:""}
.icon-video:before{content:""}
.icon-video-outlined:before{content:""}
.icon-video-stop:before{content:""}
.icon-view-once:before{content:""}
.icon-voice-chat:before{content:""}
.icon-volume-1:before{content:""}
.icon-volume-2:before{content:""}
.icon-volume-3:before{content:""}
.icon-warning:before{content:""}
.icon-web:before{content:""}
.icon-web-filled:before{content:""}
.icon-webapp:before{content:""}
.icon-word-wrap:before{content:""}
.icon-zoom-in:before{content:""}
.icon-zoom-out:before{content:""}